/*
	Template name : olivewp.org
	Author		  : webriti
	Website 	  : http://www.olivewp.org
	Version	      : 1.0
 */

/*
=========	Table of contents 	=========
	1. General style
	2. Headings
	3. Margins & Paddings
	4. Colors & Backgrounds 
	5. Overlay
	6. Header
	7. Buttons
	8. Slider
	9. Sections
	10. Why Choose Us
	11. Featured Themes
	12. What Customer’s Say About Us
	13. Our Unique Theme Features
	14. Footer top
	15. Footer bottom
	16. Detail Block
	17. 404 ERROR
	18. Login/Signup
	19. Coming Soon Ribbon
	20. Detail Page
	21. Team Section
*/






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 1. General style
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
html,body {
    height:100%;
}
html{
	font-size: 16px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media (min-width: 320px){
	html{
		font-size: 16px;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media (min-width: 768px){
	html{
		font-size: 16px;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media (min-width: 992px){
	html{
		font-size: 16px;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: #FFF;
    color: #313131;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
a {
    color: #313131;
    outline: 0 none;
    text-decoration: none;
    transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 none;
    color: #FF6F61;
}
a:active{
    color: #FF6F61;
}
p a {
    color: #313131;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
    border-style: none;
    vertical-align: middle;
}
hr {
    clear: both;
}
section,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
summary {
    display: block;
}
address {
    font-style: italic;
}
table {
    background-color: transparent;
    width: 100%;
}
table thead th {
    color: #272727;
}
table td {
    padding: 1rem 0.63rem;
}
p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
p:last-child { margin: 0; }
strong {
    font-weight: 600;
}
ul,
ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
p,
address,
pre,
hr,
dl,
dd,
table {
    margin-bottom: 1.5rem;
}
.overflow-hide {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}
.clear {
    clear: both;
}
.pull-none {
    float: none;
}
.uppercase{
	text-transform: uppercase;
}
.w-600{
	font-weight: 600;
}
::-moz-selection {
    color: #fff;
    background: #313131;
}
::selection {
    color: #fff;
    background: #313131;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 2. Headings
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
    color: #313131;
    margin-top: 0;
    font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #313131;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
}
h3 {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.8rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
h5 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
h6 {
    font-size: 0.88rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 3. Margins & Paddings  
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Margins */
.m-all-0{
	margin: 0 !important;
}
.m-top-10{
	margin-top: 0.63rem !important;
}
.m-top-20{
	margin-top: 1.26rem !important;
}
.m-top-30{
	margin-top: 1.9rem !important;
}
.m-top-40{
	margin-top: 2.5rem !important;
}
.m-right-30{
	margin-right: 1.875rem !important;
}
.m-bottom-0{
	margin-bottom: 0 !important;
}
.m-bottom-10{
	margin-bottom: 0.63rem !important;
}
.p-bottom-15{
	padding-bottom: 0.9375rem !important;
}
.m-bottom-20{
	margin-bottom: 1.26rem !important;
}
.m-bottom-30{
	margin-bottom: 1.9rem !important;
}
.m-bottom-40{
	margin-bottom: 2.5rem !important;
}
.m-bottom-70{
	margin-bottom: 4.375rem !important;
}
.m-bottom-80{
	margin-bottom: 5rem !important;
}
.m-bottom-90{
	margin-bottom: 5.625rem !important;
}
.m-bottom-100{
	margin-bottom: 6.25rem !important;
}



/* Paddings */
.p-all-0{
	padding: 0 !important;
}
.p-top-10{
	padding-top: 0.63rem !important;
}
.p-top-15{
	padding-top: 0.9375rem !important;
}
.p-top-20{
	padding-top: 1.26rem !important;
}
.p-top-30{
	padding-top: 1.9rem !important;
}
.p-top-40{
	padding-top: 2.5rem !important;
}
.p-bottom-0{
	padding-bottom: 0 !important;
}
.p-bottom-10{
	padding-bottom: 0.63rem !important;
}
.p-bottom-20{
	padding-bottom: 1.26rem !important;
}
.p-bottom-30{
	padding-bottom: 1.9rem !important;
}
.p-bottom-40{
	padding-bottom: 2.5rem !important;
}
.p-top-15{
	padding-top: 15rem !important;
}
.p-bottom-15{
	padding-bottom: 15rem !important;
}


@media (max-width: 767px){
	.p-top-4{
		padding-top: 4rem !important;
	}
	.m-bottom-156{
		margin-bottom: 1.56rem !important;
	}
	.m-bottom-55{
		margin-bottom: 5.5rem !important;
	}
}
@media (max-width: 992px){
	.m-bottom-155{
		margin-bottom: 1.55rem !important;
	}
}

/* Min & Max width */
.min-w-250{
	min-width: 15.63rem;
}







/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 4. Colors & Backgrounds  
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.bg-grey{
	background-color: #313131
} 
.bg-dark-grey{
	background-color: #222222;
}
.bg-brown{
	background-color: #334d1e;
}
.bg-yellow{
	background-color: #FF6F61;
}
.bg-light-grey{
	background-color: #dadee0;
}

/* Colors */
.text-grey{
	color: #313131;
} 
.text-green{
	color: #FF6F61;
}
.text-white{
	color: #fff;
}
.text-light-grey{
	color: #858484;
}
.text-dark-grey{
	color: #272727;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		  >> 5. Overlay   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.overlay,
.overlay-footer,
.overlay-black{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.overlay{	
	background-color: rgba(49,49,49,0.7);
}
.overlay-footer{
	background-color: rgba(49,49,49,0.9);
}
.overlay-black{
	background-color: rgba(0,0,0,0.7);	
}



/* DEFAULT BACKGROUND */
.is-sticky .header-main,
.navbar-default .dropdown-menu a:hover{
	background-color: #313131;
}




/* DEFAULT COLOR */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	color: #313131;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		   >> 6. Header   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.header-area{
	width: 100%;
}
.sticky-wrapper{
	width: 100%;
	position: absolute;
	z-index: 999;
}
.fixed-header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: #313131;
}
.header-main{
	background: transparent;
	width: 100%;
	z-index: 999;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
@media screen and (min-width: 768px){
	.header-main ul.navbar-nav{
		float: right;
	}
}
.navbar-default{
	background-color: transparent;
}
.navbar-nav > li > a{
	padding-top: 2.4rem;
	padding-bottom: 2rem;
}
.navbar-header .navbar-brand.logo{
	font-size: 2rem;
	line-height: 2rem;
	height: auto;
	padding: 1.5rem 1rem;
	font-weight: 600;
	color: #fff;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
	background-color: transparent;
	color: #fff;
}
.navbar-default .dropdown-menu{
	box-shadow: none;
	border-radius: 0;
}
.dropdown-menu{
	display: none;
}
.navbar-default .dropdown-menu a{
	font-size: 1rem;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navbar-default .dropdown-menu a:hover{
	color: #fff;
}
.navbar-nav > li > .dropdown-menu{
	padding: 0;
}
.dropdown-menu > li > a{
	padding: 0.7rem 1.3rem;
}


/* mobile toggle */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	border-color: transparent;
	background-color: transparent;
	top: 2rem;
	cursor: pointer;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-default .navbar-collapse{
	border-top: 1px solid #313131;
}
@media (max-width: 960px){
	.navbar-nav .open .dropdown-menu{
		background-color: #222222 !important;
		position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		padding: 0.7rem 1.5rem;
		color: #fff !important;
	}
	.navbar-default .navbar-nav > li > a{
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
	}
	.navbar-nav .open .dropdown-menu > li > a{
		padding: 1rem 1rem 1rem 2.5rem;
		color: #fff !important;
	}
	.navbar-nav{
		background-color: #313131;
		height: auto;
	}
	.navbar-collapse {
      	top: 0;
      	bottom: 0;
      	right: 0;
      	padding-left: 0;
      	padding-right: 0;
      	width: 100%;
      	position: relative;
      	overflow: hidden;
      	position: absolute;
      	top: 100%;
      	min-height: 325px;
		overflow-y: auto;
      	transition: all 0.8s ease;
  	}
  	.navbar-collapse.in {
      	width: 0;
      	padding-left: 0;
      	padding-right: 0;
      	right: -100%;
      	visibility: hidden;
      	opacity: 0;
      	position: absolute;
      	top: 100%;
      	transition: all 0.8s ease;
  	}
  	.navbar-nav{
  		margin-top: 0;
  	}
  	.nav > li > a{
  		padding-left: 15px;
  		padding-right: 15px;
  	}
  	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
}
@media only screen and (max-width: 991px){
	.nav > li > a{
		padding-top: 2.8rem;
    	padding-bottom: 2rem;
    	padding-left: 0.3125rem;
    	padding-right: 0.3125rem;
	}
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		  >> 7. Buttons   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.btn{
	display: inline-block;
	padding: 0.7rem 1.5rem;
	text-align: center;
	font-size: 1rem;
	color: #fff;
	/*text-transform: uppercase;
	font-weight: 600;*/
	border: none;
	border-radius: 0.2rem;
	transition: all 0.5s ease;
}
.btn:hover,
.btn:focus{
	color: #fff;
}
.btn-primary{
	background-color: #313131; /* Dark Grey */
}
.btn-secondary{
	background-color: #FF6F61;/* Green */
}
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus{
	background-color: #222222;
	border-color: #222222;
}
.btn-secondary:hover{
	background-color: #ED5141;
}
.btn-demo{
	background-color: #c70d0d; /* Brown */
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		  >> 8. Slider   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.slider-area,
.slider-area .slider-banner{
	position: relative;
	height: auto; /*90vh*/
	text-align: center;
}
.slider-banner{
	background: url("../images/bg/bg-banner.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: 100% 100%;
}
.slider-text-area{
	color: #fff;
	position: relative;
	padding: 10.5rem 0 8rem 0;
}
.slider-text-area .banner-text{
	font-size: 2rem;
}
.slider-text-area .banner-text2{
	font-size: 2.500rem;
}
.slider-text-area .banner-subtitle{
	color: #FF6F61;
	margin: 0;
}

.slider-banner h2{
	margin-top: 0;
	margin-bottom: 2.5rem;
	font-size: 3rem;
	line-height: 3.5rem;
}


@media (max-width: 767px){
	.slider-banner h2{
		margin-bottom: 1.5rem;
		font-size: 2rem;
		line-height: 2.5rem;
	}
}
.buy-now-modal .modal-body{
	display: block;
    float: left;
    width: 100%;
}
.buy-now-modal .modal-header{
	padding: 10px 15px;
}
.modal-header .close{
	margin-top: 4px;
    font-size: 28px;
    opacity: 1;
}
.buy-now-modal h4{
	margin-bottom: 0;
	margin-top: 5px;
	text-align: center;
}
.buy-now-modal .modal-footer{
	clear: both;
}
ul.features{
	list-style: none;
	text-align: left;
	margin-left: 2.5rem;
	list-style-position: inside;
}
ul.features li{
	position: relative;
	list-style-position: inside;
	text-indent: -2.3rem;
	margin-bottom: 1rem;
}
ul.features li:before{
	content: "\f178";
	font-family: 'FontAwesome';
	padding-right: 1rem;
	font-weight: 800
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> ABOUT US SECTION
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.img-block { padding: 0rem 2.00rem 0rem 0rem; }
.img-block img { border-radius: 3px; }
.about-block {
    background-color: #fff;
    width: 100%;
}
@media (max-width: 992px) {
	.img-block { padding: 0rem 0rem 2.000rem 0rem; }
	.img-block img { margin: 0; }
	
}
@media (max-width: 768px) {
	.team-user .col-sm-3 {
		margin-bottom: 1.26rem !important;
	}
}


.about-block .team-user {
    border-top: 1px solid #dbdbdb;
    margin: 35px 0 0;
    padding: 30px 0 0;
    text-align: center;
}
.about-block .team-user h3 {
    font-weight: 700;
	margin: 0;
}

.about-block .team-user span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
	color: #777;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> CORE SERVICES
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.bg-light-gray {
    background-color: #f9f9f9;
}
.core-services .pull-left { font-size: 3.000rem;
    padding-right: 30px;
    color: #777777;
    line-height: 1;
    font-weight: 600; }
	
.core-services h5 { font-weight: 700; }	
.core-services p { margin: 0; }
.core-services .media {
    margin-bottom: 1.850rem;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> FUNFACT
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.bg-light-gray {
    background-color: #f9f9f9;
}
.funfact .pull-left { font-size: 3.000rem;
    padding-right: 30px;
    color: #777777;
    line-height: 1;
    font-weight: 600; }
	
.funfact h5 { font-weight: 700; }	
.funfact h1 { font-weight: 700; font-size: 3.000rem; line-height: 1.2; }
.funfact p { margin: 0; }
.funfact span { font-weight: 600; }
.funfact .media { margin-bottom: 1.850rem; }
.purple { color: #4843d2; }
.green { color: #3cc75a; }
.red { color: #f72621; }
.blue { color: #2cc2e6; }

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> TEAM SECTION 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


.team-area { 
	background-color: #ffffff;  
	padding: 0; 
	margin: 0 0 40px; 
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;	
}
.team-caption {
	background-color: transparent; color: #ffffff;
	transition: all 0.3s ease 0s;
    border-radius: 0;
	padding: 15px 0 0;
	transition: all 180ms ease-in-out 0s;
	font-weight: 500;
	text-align: center;
	word-wrap: break-word;
	overflow: auto;
	border-radius: 0px;
	border-top: 0px solid transparent !important;
	border: 2px solid transparent;
}
.team-caption .name { margin: 0 0 0.200rem; font-weight: 700; }
.team-caption .designation { color: #777; margin: 0; font-weight: 600; font-size: 0.938rem; }
.team-showcase-overlay {
	background: rgba(124, 192, 72, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}



.team-area:hover .team-showcase-overlay { visibility: visible; opacity: 0.9; height: 100%; }
.team-showcase-overlay-inner { 
	position: absolute; 
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0; 
	width: 100%; 
	margin-top: 0px;  
}
.team-showcase-fade { opacity: 0.2; }
.team-image {
	text-align:center;
	position:relative;
	line-height:0px;
	font-size:0px;
	transition: all 200ms ease-out; 
	-webkit-transition: all 200ms ease-out; 
	border: 1px solid #313131;
	width:100%;
	position:relative;
	height:100%;
	overflow:hidden;
}
.team-image img { transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; width: 100%; }
.team-image .team-showcase-icons { margin-top: 0px; text-align: center; width: 100%; }
.team-image .team-showcase-icons a {
    display: inline-block;
    margin-left: 2px;
	color: #121212;
    padding: 0;
	margin: 0 3px;
	text-decoration: none;
	background-color: #ffffff;
    border-radius: 3px;
	transition: all 0.1s ease;
    height: 35px;
    width: 35px;
	
	-wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -wekbit-transform: translatey(30px);
    -moz-transform: translatey(30px);
    -o-transform: translatey(30px);
    -ms-transform: translatey(30px);
    transform: translatey(30px);
}
.team .team-area:hover .team-image .team-showcase-icons a {
    -wekbit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    -ms-transform: translatey(0);
    transform: translatey(0);
}
.team-image .team-showcase-icons a:hover { background-color: #121212; color: #ffffff; }
.team-image .team-showcase-icons a i { font-size: 1.000rem; line-height: 2.2; }
.team-area:hover .team-showcase-overlay { visibility: visible; opacity: 1; }


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> FLEXBOX
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.v-center {
    padding: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
@media (max-width: 992px) {
	.v-center {
		display: block;
	}
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> 9. Sections   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.section{
	padding-top: 4rem;
	padding-bottom: 3rem;
}
@media (min-width: 768px){
	.width-60{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}
.section-title{
	text-align: center;
}
.section-title h3{
	font-weight: 700;
	font-size: 1.8rem;
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	  >> 10. Why Choose Us
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*.why-choose-us .media-left span{
	background: url('../images/sprite-1.png') no-repeat;
}*/
.why-choose-us .media-left span,
.why-choose-us .media-left span,
.why-choose-us .media-left span,
.why-choose-us .media-left span,
.why-choose-us .media-left span,
.why-choose-us .media-left span{
	width: 4rem;
    height: 4rem;
    display: inline-block;
    position: relative;
    margin-top: 8px;
}
/*.why-choose-us .media-left span.wc1{	
    background-position: 2px -81px;
}
.why-choose-us .media-left span.wc2{
    background-position: -189px 11px;
}
.why-choose-us .media-left span.wc3{
    background-position: -96px -77px;
}
.why-choose-us .media-left span.wc4{
    background-position: -95px 11px;
}
.why-choose-us .media-left span.wc5{
    background-position: 0px 11px;
}
.why-choose-us .media-left span.wc6{
    background-position: -181px -77px;
}*/
.why-choose-us .media-body h4{
	font-weight: 600
}
.why-choose-us .media{
	margin-bottom: 2.5rem;
}
.why-choose-us .media-left{
	padding-right: 20px;
}
.why-choose-us .media-left.index{
	padding-right: 0;
	display: block;
	margin-bottom: 10px;
}
.why-choose-us .media-heading{
	margin-bottom: 1rem;
}
@media (max-width: 1200px){
	.why-choose-us .media-left,
	.why-choose-us .media-body{
		width: 100%;
		display: block;
		text-align: center;
		padding: 0;
	}
	.why-choose-us .media-left span.wc2{
		background-position: -189px 1px;
	}
	.why-choose-us .media-left span.wc5 {
	    background-position: 0px 2px;
	}
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	  >> 11. Featured Themes
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.featured-themes{
	text-align: center;
}
.featured-themes .panel{
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, .05);
	box-shadow: 0 12px 12px rgba(0, 0, 0, .05);
}
.featured-themes .panel-body{
	position: relative;
	overflow: hidden;
}
.featured-themes .panel .btn{
	margin: 0 0.2rem;
	position: relative;
	top: 0%;	
	transform: translateY(-0%);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.featured-themes .panel:hover .btn{
	top: 50%;	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.panel .overlay{
	top: -100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.featured-themes .panel:hover .overlay{
	top: 0
}
.featured-themes .panel-footer{
	background-color: #fff;
	padding: 0.7rem;
}
.featured-themes h4{
	margin-bottom: 0;
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 12. What Customer’s Say About Us
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.testimonial-block{
	position: relative;
	width: 100%;
	padding: 1.5rem 2rem;
	background: #f8f8f8;
	-webkit-box-shadow: 0 22px 17px rgba(0, 0, 0, .2);
	box-shadow: 0 22px 17px rgba(0, 0, 0, .2);
}
.testimonial-block:after{
	position: absolute;
	content: '';
	top: 100%;
	left: 5%;
	width: 0;
	height: 0;
	pointer-events: none;
	border-top: 16px solid transparent;
    border-right: 16px solid #f8f8f8;
    border-left: 13px solid #f8f8f8;
    border-color: rgba(255,255,255,0);
    border-top-color: #f8f8f8;
}
.testimonial-block .title { font-weight: 700; margin: 0 0 0.700rem; } 


.user-info-block{
	display: table;
    margin-top: 1.9rem;
}
.username{
	color: #fff;
	font-weight: bold;
}
.testimonial-user{
	position: relative;
	width: 5.32rem;
	height: 5.32rem;
	display: table-cell;
	margin-top: 1.9rem;
	border-radius: 50%;
}
.user-detail{
	display: table-cell;
    vertical-align: middle;
    padding-left: 1.3rem;
}
.user-detail small{
	color: #FF6F61;
}
.testimonial-user:before{
    font-family: "FontAwesome";
    font-size: 0.9rem;
	position: absolute;
    content: "\f10d";
    left: 0;
    bottom: 0;
    line-height: 1.6rem;
    width: 2rem;
    height: 2rem;
    color: #f8f8f8;
    background: #222222;
    text-align: center;
    border-radius: 50%;
    padding: 0.31rem;
}
.testimonial-user img{
	width: 5rem;
	height: 5rem;
	border: 3px solid #f8f8f8;
	border-radius: 50px;
	width: auto !important;
}

@media (max-width: 767px){
	.testimonial-block:after{
		left: 30%;
	}
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 13. Our Unique Theme Features
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.theme-features{
	text-align: center;
}
.theme-f{
	margin-bottom: 5.5rem;
	position: relative;
	background-color: #f8f8f8;
	padding: 2rem 1.2rem;
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
}
.f-icon{
    margin: auto;
    margin-bottom: 20px;
    line-height: 2.6rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		>> 14. Footer top
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.footer-top{
	position: relative;
	background: url('../images/bg/footer-bg.jpg') no-repeat;
	background-size: cover;
	background-position: 0 100%;
	background-attachment: fixed;
}
.footer-top h4{
	color: white;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.footer-top li{
	display: block;
	list-style: none;
	margin-bottom: 1rem;
}
.footer-top li a{
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer-top li a:hover{
	color: #FF6F61;
}
.footer-top ul.footer-social li{
	display: inline-block;
	margin-bottom: 1rem;
}
.footer-top ul.footer-social li a{
	width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    line-height: 0;
    padding: 0.75rem;
    text-align: center;
    float: left;
    background-color: #FF6F61;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-top ul.footer-social li a:hover,
.footer-top ul.footer-social li a:focus{
	background-color: #FF6F61;
	color: #15364e;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 15. Footer bottom
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@keyframes heartAnimation {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.2);
    }
    10% {
        transform: scale(1.1);
    }
    15% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.footer-bottom{
	text-align: center;
	background-color: #222222;
	color: #fff;
	padding: 1rem 0;
}
.footer-bottom p{
	line-height: 1.7;
}
.footer-bottom .fa-heart{
	animation: 2.5s ease 0s normal none infinite running heartAnimation;
	color: #FF6F61;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 16. Detail Block
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.detail-block{
	background-color: #fff;
	border: 1px solid #dadee0;
	padding: 2.5rem 0.9375rem;
	float: left;
	width: 100%;
}
.main-features .media{
	text-align: center;
}
.main-features .media-left,
.main-features .media-body{
	display: inline;
}
.main-features ul.features li:before{
	color: #FF6F61;
}
.carousel-showsixmoveone .carousel-control {
  	width: 4%;
  	background-image: none;
}
.carousel-showsixmoveone .carousel-control.left {
  	margin-left: 0.9375rem;
}
.carousel-showsixmoveone .carousel-control.right {
  	margin-right: 0.9375rem;
}
.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
  	display: none;
}
@media all and (min-width: 768px) {
  	.carousel-showsixmoveone .carousel-inner > .active.left,
  	.carousel-showsixmoveone .carousel-inner > .prev {
    	left: -33.333%;
  	}
  	.carousel-showsixmoveone .carousel-inner > .active.right,
  	.carousel-showsixmoveone .carousel-inner > .next {
    	left: 33.333%;
  	}
  	.carousel-showsixmoveone .carousel-inner > .left,
  	.carousel-showsixmoveone .carousel-inner > .prev.right,
  	.carousel-showsixmoveone .carousel-inner > .active {
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner .cloneditem-1,
  	.carousel-showsixmoveone .carousel-inner .cloneditem-2 {
    	display: block;
  	}
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  	.carousel-showsixmoveone .carousel-inner > .item.active.right,
  	.carousel-showsixmoveone .carousel-inner > .item.next {
    	-webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner > .item.active.left,
  	.carousel-showsixmoveone .carousel-inner > .item.prev {
    	-webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner > .item.left,
  	.carousel-showsixmoveone .carousel-inner > .item.prev.right,
  	.carousel-showsixmoveone .carousel-inner > .item.active {
    	-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    	left: 0;
  	}
}
@media all and (min-width: 992px) {
  	.carousel-showsixmoveone .carousel-inner > .active.left,
  	.carousel-showsixmoveone .carousel-inner > .prev {
    	left: -16.666%;
  	}
  	.carousel-showsixmoveone .carousel-inner > .active.right,
  	.carousel-showsixmoveone .carousel-inner > .next {
    	left: 16.666%;
  	}
  	.carousel-showsixmoveone .carousel-inner > .left,
  	.carousel-showsixmoveone .carousel-inner > .prev.right,
  	.carousel-showsixmoveone .carousel-inner > .active {
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner .cloneditem-3,
  	.carousel-showsixmoveone .carousel-inner .cloneditem-4,
  	.carousel-showsixmoveone .carousel-inner .cloneditem-5 {
    	display: block;
  	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  	.carousel-showsixmoveone .carousel-inner > .item.active.right,
  	.carousel-showsixmoveone .carousel-inner > .item.next {
    	-webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner > .item.active.left,
  	.carousel-showsixmoveone .carousel-inner > .item.prev {
    	-webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
    	left: 0;
  	}
  	.carousel-showsixmoveone .carousel-inner > .item.left,
  	.carousel-showsixmoveone .carousel-inner > .item.prev.right,
  	.carousel-showsixmoveone .carousel-inner > .item.active {
    	-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    	left: 0;
  	}
}
.carousel-control{
	opacity: 1;
	top: 40%;
}
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right{
	background-color: #222222;
	color: #FF6F61;
	text-align: center;
	padding: 0.625rem 0.9375rem;
	font-size: 1.25rem;
}
.item a{
	position: relative;
	float: left;
	color: #fff;
}
.item a i{
	position: absolute;
	color: #FF6F61;
	font-size: 1.5rem;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.item .overlay{
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}
.item a:hover .overlay{
	visibility: visible;
	opacity: 1;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 17. Free vs Pro table
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.free-vs-pro table tr th, 
.free-vs-pro table tr td{
	padding: 1rem;
	text-align: center;
}
.free-vs-pro table tr th{
	font-weight: 600;
	background-color: #313131;
	color: #fff;
	font-size: 1.125rem;
}
.free-vs-pro table tr td{
	color: #313131;
	border-top: 1px solid #dadee0;
}
.free-vs-pro table tr td i{
	color: #FF6F61;
	font-size: 1.25rem;
}
.free-vs-pro table tr th:first-child,
.free-vs-pro table tr td:first-child{
	text-align: left;
}
.table-striped > tbody > tr:nth-of-type(odd){
	background-color: #edefef;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 18. Pricing Table
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#pricing-table{
	transition: all 2s ease;
}
.pricing-table-block{
	position: relative;
	overflow: hidden;
	border: 1px solid #dadee0;
	background-color: #fff;
	color: #313131;
	padding: 1.5rem 0 0 0;
	float: left;
	width: 100%;
}
.recommended{
	border: 5px solid #dadee0;
}
.recommended-stripe{
	position: absolute;
    top: 30px;
    right: -115px;
    width: 325px;
    background-color: #313131;
    padding: 4px;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.price-title{
	font-size: 1.5rem;
	color: #FF6F61;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: 600;
} 
.price{
	font-size: 3rem;
	text-align: center;
	color: #313131;
	font-weight: 600;
	margin-bottom: 1.2rem;
}
.price sup{
	font-size: 1.5rem;
	top: -1.375rem;
	left: 0.125rem;
}
.pricing-table-block ul{
	list-style: none;
}
.pricing-table-block ul li{
	position: relative;
	display: block;
	text-align: center;
	border-bottom: 1px solid #dadee0;
	padding: 0.9375rem 0rem 0.9375rem;
}
@media (min-width: 768px){
	.buy-now-modal .modal-dialog{
		width: 450px;
	}
}
.modal-table .pricing-table-block ul li{
	padding: 0.5rem 0rem 0.5rem;
}
.modal-table .price{
	font-size: 2rem;
}
.modal-table .pricing-table-block .purchase-now-btn a{
	padding: 0.5rem;
}
.pricing-table-block ul li i{
	color: #FF6F61;
	font-size: 1.1rem;
	text-align: center;
}
/*.pricing-table-block ul li:before{
	position: absolute;
	content: "\f00c";
	font-family: 'FontAwesome';
	font-size: 1.1rem;
	color: #FF6F61;
	left: 1.3rem;
	top: 0.8125rem;
}*/
.pricing-table-block .purchase-now-btn a{
	color: #fff;
	width: 100%;
	float: left;
	margin-top: 1.5rem;
	padding: 1.1rem;
	font-size: 1.25rem;
	text-align: center;
	background-color: #FF6F61;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 19. Contact us
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.map{
	width: 100%;
	height: auto;
	margin-bottom: -7px;
	overflow: hidden;
}
.address-block{
	color: #313131;
}
.address-block i{
	font-size: 1.5rem;
	padding-top: 1rem;
}
.address-block .media-left{
	padding-right: 1.5rem;
}
.contact-form input[type="text"]{
	border: 1px solid #dadee0;
	background-color: #fff;
	height: 3.125rem;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1.2rem;
}
.contact-form textarea{
	border: 1px solid #dadee0;
	background-color: #fff;
	width: 100%;
	padding: 1rem;
	height: 12.5rem;
}
.contact-social li{
	display: inline-block;
	margin-right: 10px;
}
.contact-social li a i{
	width: 40px;
	height: 40px;
	padding: 5px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	background-color: #FF6F61;
}
.contact-social li a i{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.contact-social li a:hover i{
	color: #222222;
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		  >> 20. Blog   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.single-blog-post{
	margin-bottom: 3rem;
	float: left;
    width: 100%;
}
.single-blog-post .entry-header .entry-title{
	margin-bottom: 0.9375rem;
}
.entry-header h3{
	font-size: 1.5rem;
}
.blog-content{
	background-color: #fff;
	border: 1px solid #dadee0;
}
.blog-banner{
	position: relative;
	max-height: 25rem;
	overflow: hidden;
}
.blog-banner img{
	max-width: 100%;
	display: block;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.blog-banner:hover img{
	transform: scale(1.2);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.blog-banner .entry-date{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.875rem 1rem;
	background-color: #313131;
	color: #fff;
	text-align: center;
}
.blog-banner .entry-date span.date{
	display: block;
	font-size: 1.75rem;
	line-height: 1.75rem;
	font-weight: 600;
	padding-bottom: 0.4375rem;
}
.blog-banner .entry-date span.year{
	display: block;
	font-size: 0.875rem;
}
.entry-meta,
.entry-content{
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
}
.single-blog-post .entry-meta li{
	margin-right: 0.9375rem;
	display: inline-block;
}
.single-blog-post .entry-meta li i{
	padding-right: 0.125rem;
	color: #FF6F61;
}

/* blog detail comment section */
.comment-title h3{
	font-size: 1.25rem;
	margin-bottom: 1.8rem;
}
.single-thread .media,
.single-thread .thread-body{
	margin: 0;
	overflow: hidden;
}
.comment-detail{
	padding: 0.9375rem 1.563rem;
	margin-bottom: 2.5rem;
	background-color: #fff;
	border: 1px solid #dadee0;
	display: inline-block;
	width: 100%;
}
.comment-detail h4{
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0;
}
.comment-detail span.comment-date{
	display: block;
}
.comment-detail .comment-date{
	font-size: 0.875rem;
	color: #a0a0a0;
	font-weight: normal;
}
.comment-detail p{
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}
.comment-detail .reply a{
	text-align: right;
	color: #FF6F61;
	float: right;
	font-weight: 600;
}
.single-thread .thread-left{
	padding-right: 1rem;
	float: left;
}
@media only screen and (max-width: 768px){
	.single-thread .thread-left{
		float: none;
	    margin-bottom: 0.9375rem;
	    padding-right: 0;
	}
}
.single-thread .thread-left a img{
	width: 6rem;
    height: 6rem;
    border-radius: 100%;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form textarea{
	width: 100%;
	height: 3.125rem;
	border: 1px solid #dadee0;
	background-color: #fff;
	color: #313131;
	margin-bottom: 0.9375rem;
	padding: 0.9375rem;
}
.comment-form textarea{
	height: 12.5rem;
}
.comment-form input:focus,
.comment-form textarea:focus{
	outline: none;
}
.comment-form .post-comment{
	display: inline-block;
    padding: 0.7rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 0.2rem;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    background-color: #FF6F61;
}
.custom-checkbox {
  	position: absolute;
  	opacity: 0;
}
.custom-checkbox + label {
  	position: relative;
  	cursor: pointer;
  	padding: 0;
  	font-weight: normal;
}
.custom-checkbox + label:before {
  	content: '';
  	margin-right: 10px;
  	display: inline-block;
  	vertical-align: text-top;
  	width: 20px;
  	height: 20px;
  	background: #fff;
  	border: 2px solid #dadee0;
}
.custom-checkbox:checked + label:before {
  	background-color: #FF6F61;
}
.custom-checkbox:disabled + label {
  	color: #313131;
  	cursor: auto;
}
.custom-checkbox:disabled + label:before {
  	-webkit-box-shadow: none;
    box-shadow: none;
}
.custom-checkbox:checked + label:after {
  	content: '';
  	position: absolute;
  	left: 5px;
  	top: 10px;
  	background: white;
  	width: 2px;
  	height: 2px;
  	-webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}









/* Sidebar CSS */
.sidebar-widget-area{
	padding-top: 3.1rem;
}
.sidebar-widget-area li{
	padding-bottom: 0.625rem;
}
.sidebar-widget{
	margin-top: 0;
	margin-bottom: 2rem;
	padding: 1.2rem 0.9375rem;
	background-color: #fff;
	border: 1px solid #dadee0;
}
.widget_search input{
	height: 2.813rem;
	width: 100%;
	padding: 0.9375rem;
	background-color: #f3f3f3;
	border: 1px solid #dadee0;
}
.widget_search input:hover,
.widget_search input:focus,
.widget_search button:hover,
.widget_search button:focus,
.input-group-btn > .btn{
	outline: 0;
	border: 1px solid #dadee0;
}
.widget_search .btn:active{
	background: #fff;
	border-color: transparent;
	box-shadow: none;
}
.widget_search .btn-default{
	background-color: #f3f3f3;
}
.widget_search .btn-default i{
	color: #FF6F61;
}
.widget_search button{
	background: transparent;
	height: 2.813rem;
	padding: 0.7rem 0.8rem;
	border: 1px solid #dadee0;
}
.single-post{
	margin-top: 0;
	margin-bottom: 0.9375rem;
}
.sidebar-widget:last-child,
.single-post:last-child,
.sidebar-widget-area li:last-child,
.single-blog-post:last-child{
	margin-bottom: 0;
}
.popular-posts .media-body h6{
	font-size: 1rem;
	margin-bottom: 0.3rem;
}
.popular-posts .media-left{
	padding-right: 1rem;
}
.popular-posts .media-body p{
	margin-bottom: 0;
	color: #858484;
}
.popular-posts .media-left,
.popular-posts .media-left img{
	max-width: 8rem;
    padding-right: 1rem;
}
.widget_archive li,
.widget_meta li,
.widget_categories li,
.widget_recent_comments li,
.widget_recent_entries li{
	position: relative;
	padding-left: 1.875rem;
}
.widget_archive li:before,
.widget_meta li:before,
.widget_categories li:before,
.widget_recent_comments li:before,
.widget_recent_entries li:before{
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	content: "\f178";
	font-size: 1.125rem;
	color: #FF6F61;
	line-height: 1.688rem;
}
.tags li{
	display: inline-block;
	margin-right: 0.625rem; 
}
.tags li a{
	border: 1px solid #dadee0;
	padding: 0.3125rem 0.625rem;
	float: left;
}
.tags li a:hover{
	background-color: #FF6F61;
	border: 1px solid #FF6F61;
	color: #fff;
}






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 21. Call to Action   
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.cta{
	background-color: #fff;
	padding: 3.75rem 0;
	border: 1px solid #dadee0;
}
.cta h3{
	margin-bottom: 1rem;
	font-weight: 700;
	text-align: center;
}
.cta .sidebar-widget{
	margin: 0;
	padding: 0;
	border: none;
	background-color: #fff;
}
.cta .sidebar-widget input,
.cta .sidebar-widget button{
	height: 3.75rem;
	border-radius: 0;
}
.cta .sidebar-widget input{
	background-color: #313131;
	color: #ffffff;
	border: 1px solid #313131;
}
.cta .sidebar-widget button,
.cta .sidebar-widget button:focus{
	background-color: #FF6F61;
	color: #fff;
	border: 5px solid #313131;
	padding-left: 2rem;
	padding-right: 2rem;
}
.cta .btn-primary{
	margin-top: 2.5rem;
}
@media only screen and (max-width: 767px){
	.cta .btn-primary{
		margin-top: 0.5rem;
	}
}






/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 22. Project Counter
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.project-counter{
	position: relative;
	background: url(../images/project-counter-bg.jpg) no-repeat 58% 50% fixed;
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
	text-align: center;
}
.project-counter .counter-icon{
	color: #FF6F61;
	font-size: 3rem;
}
.project-counter span{
	color: #fff;
	font-size: 3rem;
	display: inline-block;
}
.project-counter .counter{
	font-weight: 700;
}
.project-counter .counter-text{
	color: #fff;
	text-transform: uppercase;
	margin-top: 0.75rem;
	font-size: 1.125rem;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 17. 404 ERROR
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.error-404{
	text-align: center;
}
.error-404 h2{
	font-size: 9.375rem;
	font-weight: 800;
	margin-bottom: 3rem;
	color: #FF6F61;
}
.error-404 h2 i{
	color: #313131;
	font-size: 16rem;
}
.error-404 h3{
	font-size: 2.5rem;
	font-weight: 700;
	color: #313131;
}
.error-404 p{
	font-weight: 400;
	font-size: 1.5rem;
	color: #909090;
}
@media only screen and (max-width: 768px){
	.error-404 h2{
		font-size: 5rem;
	}
	.error-404 h2 i{
		font-size: 9rem;
	}
	.error-404 h3{
		font-size: 2rem;
	}
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 18. Login/Signup
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.form-section{
	position: relative;
    height: 100%;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 40px 10px #b9bdc0;
	box-shadow: 0 0 40px 10px #b9bdc0;
}
.signup-white{
	float: left;
	width: 100%;
	background-color: #fff;
	padding: 2.5rem 1.563rem;
}
.login-grey{
	min-height: 752px;
	background-color: #313131;
	padding: 2.5rem 1.563rem;
}
.signup-section .nav-tabs{
	display: none;
	border-bottom: none;
}
.form-section .tab-content > .tab-pane{
	display: block;
}
.signup-section .nav-tabs > li.active > a, 
.signup-section .nav-tabs > li.active > a:hover, 
.signup-section .nav-tabs > li.active > a:focus{
	color: #FF6F61;
	border-radius: 0;
	border: none;
	background-color: #313131;
	width: 100%;
}
.signup-section .nav-tabs > li > a{
	padding: 1rem;
	background-color: #fff;
	border-radius: 0;
	border: none;
	width: 100%;
}
@media (max-width: 992px){
	.form-relative
	.login-grey{
		min-height: auto;
	}
}
@media (max-width: 992px){
	.form-section{
		box-shadow: none;
		height: auto
	}
	.signup-section .nav-tabs{
		display: inline-block;
		margin-bottom: -0.4375rem;
		width: 100%;
	}
	.signup-section .nav-tabs > li{
		width: 50%;
		margin-bottom: 0;
	}
	.form-section .tab-content > .tab-pane{
		display: none;
	}
	.form-section .tab-content > .tab-pane.active{
		display: block;
	}
}
.form-section .section-title h3{
	font-size: 1.7rem;
}
.form-section .p-title{
	font-weight: 700;
	margin-bottom: 0.4rem;
}
.form-section input[type=text],
.form-section input[type=email],
.form-section input[type=password]{
	height: 3.125rem;
	border-radius: 0;
	border: 1px solid #d2d2d2;
	padding-left: 3.125rem;
}
.login-grey input[type=text],
.login-grey input[type=email],
.login-grey input[type=password]{
	border: 1px solid #3b3b3b;
	color: #fff;
}
.form-section input:focus,
.login-grey input:focus{
	box-shadow: none;
}
.login-grey input[type=text],
.login-grey input[type=password]{
	background-color: #3b3b3b;
	border: 1px solid #3b3b3b;
}
.form label{
	font-weight: normal;
}
.form-group{
	position: relative;
}
.form-group span{
	position: absolute;
    top: 1px;
    left: 1px;
    background: #fff;
    height: 3rem;
    font-size: 1.375rem;
    color: #b8b8b8;
    line-height: 1.375rem;
    padding: 0.875rem;
}
.login-grey label{
	color: #b5b5b5;
}
.login-grey span{
	background-color: #3b3b3b;
}
.form input[type=checkbox],
.payment-method input[type=radio]{
	width: 1.125rem;
	height: 1.125rem;
	margin-right: 0.4375rem;
	vertical-align: sub;
}
.form .remember{
	cursor: pointer;
}
.login-grey a.forgot{
	color: #b5b5b5;
	text-decoration: underline;
}
.payment-method{
	margin-left: 0;
	font-weight: normal;
}








/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 19. Coming Soon Ribbon
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.box {
  	position: relative;
}
.ribbon {
  	position: absolute;
  	left: -5px; 
  	top: -5px;
  	z-index: 1;
  	overflow: hidden;
  	width: 90px; 
  	height: 90px;
  	text-align: right;
}
.ribbon span {
  	font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 130px;
    display: block;
    background: #FF6F61;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: -26px;
}
.ribbon span::before {
  	content: "";
  	position: absolute; left: 0px; top: 100%;
  	z-index: -1;
  	border-left: 3px solid #79A70A;
  	border-right: 3px solid transparent;
  	border-bottom: 3px solid transparent;
  	border-top: 3px solid #79A70A;
}
.ribbon span::after {
  	content: "";
  	position: absolute; right: 0px; top: 100%;
  	z-index: -1;
  	border-left: 3px solid transparent;
  	border-right: 3px solid #79A70A;
  	border-bottom: 3px solid transparent;
  	border-top: 3px solid #79A70A;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 20. Detail Page
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.st-blog-section {
    background-color: #ffffff;
    border: 1px solid #dadee0;
    margin-bottom: 50px;
    padding: 25px 30px 25px 30px;
}
.st-blog-section p{
    font-size: 16px;
    line-height: 28px;
    color: #313131;
    margin: 0 0 15px;
}
.st-blog-section h2{
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.st-blog-section h3{
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.st-blog-section ol{
	padding-left: 30px;
	margin-bottom: 20px;
}
.st-blog-section ol li{
	list-style: decimal;
	padding-left: 10px;
	margin-bottom: 8px;
}
.st-blog-section img{
	float: left;
}
@media only screen and (max-width: 768px){
	.st-blog-section img{
		float: left;
		margin-bottom: 10px;
	}
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	>> 21. Team Section
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.team-section{
	margin-bottom: 15px;
	width: 100%;
	background-color: #f1f2f2;
	border: 1px solid #dadee0;
}
.team-section .member-img{
	padding: 15px;
}
.team-social{
	margin-top: -50px;
	margin-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #313131;
}
.team-social ul{
	margin: 0;
	padding: 0;
}
.team-social li{
	display: inline-block;
}
.team-social li a{
	font-size: 14px;
    line-height: 20px;
    padding: 3px 7px;
    color: #fff;
    display: block;
    margin: 0;
    border-radius: 3px;
    background: #FF6F61;
}
.team-detail{
	position: relative;
	border-top: 3px solid #dadee0;
	padding: 25px 15px;
	text-align: center;
}
.team-detail h4{
	font-size: 22px;
	color: #313131;
	margin-bottom: 10px;
	font-weight: 700;
}
.team-detail .designation{
	font-size: 14px;
	color: #aeaeae;
	margin-bottom: 10px;
}
.team-detail p.description{
	font-size: 16px;
	margin-bottom: 0;
	color: #313131;
}